name: Spring Boot Gradle Build and Docker Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout
      - name: Checkout source
        uses: actions/checkout@v4

      # Step 2: Setup Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: gradle

      # Step 3: Make gradlew executable
      - name: Make gradlew executable
        run: chmod +x gradlew

      # Step 4: Build the project
      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon

      # Step 5: Upload JAR (optional)
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: springboot-jar
          path: build/libs/*.jar
      - name: Build & push Docker image
        uses : mr-smithers-excellent/docker-build-push@v6
        with:
          image: sureshgudibanda/cicddemo
          tags: v1, latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
